<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>659565679667-g9gkh1ve1conjo9b8gp0jr3v3t0ghd98.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.659565679667-g9gkh1ve1conjo9b8gp0jr3v3t0ghd98</string>
	<key>API_KEY</key>
	<string>AIzaSyBgzAMvefao1ntjuNb5eqJehJ7eAcktg9s</string>
	<key>GCM_SENDER_ID</key>
	<string>659565679667</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.appTest</string>
	<key>PROJECT_ID</key>
	<string>travel-7649c</string>
	<key>STORAGE_BUCKET</key>
	<string>travel-7649c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:659565679667:ios:83dc8b46281def5a733f46</string>
</dict>
</plist>